/* CAROUSEL */
.carousel {
    height: 374px;
    position: relative;
    text-align: center;
    width: 940px;
    margin: 0 auto 40px;

    .item {
        height: 374px;
        width: 100%;
        float: left;
        background-size: cover;
        background-position: center center;
    }
}

.carousel-indicators {
    left: 0;
    margin-left: 0;

    li {
        text-indent: 0;
    }
}

.main-carousel {
    * {
        text-shadow: none;
    }

    mask {
        content: '';
        position: absolute;
        background: rgba(0,0,0,.4);
        top: 0;
        left: 0;
        min-width: 100%;
        height: 660px;
    }

    .indicator-main {
        position: absolute;
        bottom: 20px;
        list-style: none;
        width: 100%;
        text-align: center;
        padding: 0;

        li {
            display: inline-block;
            width: 22px;
            text-align: center;
            height: 22px;
            line-height: 18px;
            background: rgba(0,0,0,.53);
            border: 2px solid rgba(255,255,255, .75);
            border-radius: 1px;
            margin: 0 5px 5px;
            font-size: 11px;
            cursor: pointer;

            &:hover, &.active {
                background: rgba(255,255,255, .75);
                border: 2px solid rgba(0,0,0,.53);
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .carousel {
        height: 250px;
        width: 98%;
    }

    .carousel .item {
        height: 250px;
        width: 100%;
    }
}
